@model AccentureAcademy.Libreria.Models.Libro
@using AccentureAcademy.Libreria.Models

<h1>Formulario de Libros</h1>

<form name="_form" data-actionlink=@ViewBag.actionlink class="">

    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Nombre)
        @Html.EditorFor(m => m.Nombre, new { @class="form-control"})
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.AnioPublicacion)
        @Html.EditorFor(m => m.AnioPublicacion)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.NroPaginas)
        @Html.EditorFor(m => m.NroPaginas)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ISBN)
        @Html.EditorFor(m => m.ISBN)
    </div>

    <div id="divGeneros" class="form-group">
        <input type="text" list="Genero" id="inputGeneros"/>
        <datalist id="Genero">
            @foreach (Genero genero in ViewBag.Generos)
            {
                <option value=@genero.Nombre />
            }
        </datalist>
    </div>

    <div class="form-group">
        <input type="text" list="Autor" class="relacion" />
        <datalist id="Autor">
            @foreach (Autor autor in ViewBag.Autores)
            {
                <option value=@(autor.Nombre  + " " + autor.Apellido)/>
            }
        </datalist>
    </div>


    @Html.DropDownList("Id_Editorial", null, new { @class = "form-group" })

    <button class="btn btn-primary">Enviar</button>
</form>