@model List<AccentureAcademy.Libreria.Models.Libro>
<table id="tablaLibros">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Año Publicacion
            </th>
            <th>
                Cantidad de paginas
            </th>
            <th>
                ISBN
            </th>
            <th>
                Generos
            </th>
            <th>
                Autores
            </th>
            <th>
                Editorial
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var libro in this.Model)
        {
            <tr>
                <td>
                    @libro.Nombre
                </td>
                <td>
                    @libro.AnioPublicacion.Year
                </td>
                <td>
                    @libro.NroPaginas
                </td>
                <td>
                    @libro.ISBN
                </td>
                <td>
                    @foreach (var relacionGenero in libro.Pertenece)
                    {
                        @relacionGenero.Genero.Nombre <br>
                    }
                </td>
                <td>
                    @foreach (var relacionAutor in libro.EscritoPor)
                    {
                        @(relacionAutor.Autor.Nombre + "" + relacionAutor.Autor.Apellido) <br>
                    }
                </td>
                <td>
                    @(libro.Editorial.Nombre + " Cuil:" + libro.Editorial.Cuil)
                </td>
                <td>
                    <button data-actionlink=@Url.Action("Editar", "Libros", new { id= libro.Id}) class="bm-button">Editar Libro</button>
                </td>
                <td>
                    <button data-actionlink=@Url.Action("Eliminar", "Libros", new { id = libro.Id }) class="bm-button"> Eliminar Libro</button>
                </td>
            </tr>
        }
    </tbody>
</table>